
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family:Tahoma, Geneva, sans-serif;
}

/* Standaard font voor h1 en h2 elementen */
h1, h2 {
    font-family: 'Terminal Dosis',Tahoma, Geneva, sans-serif;
	font-weight: 700;
	text-decoration: none;
}

/* Header en footer achtergrondbalk */
.header-background, .footer-background {
    background-image: url('../img/bg_pattern.jpg'); 
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 100px;
}

/* De onderste footerbalk */
.footer-background {
    position: static;
    bottom: 0;
}

/* Het HWF logo bovenaan de pagina */
.hwf_logo {
    position: relative;
    transform: translateY(-50%);
    display: block;
    margin: auto;
    top: 50%;
    text-align: center;
    width: 60%;
}

.hwf_logo img {
    width: 900px;
    height: auto;
}

/* Required input fields krijgen een rode asterisk */
.required_ast::after {
    content: "*";
    color: red;
}
