
/* De styling van het volledige scherm tussen de header en de footer. */
.scherm {
    height: 74.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* De styling van het scherm waarin de invoervelden en knoppen van het login scherm zich bevinden. */
.login-form {
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-height: 600px;
    gap: 10px;
    overflow: auto;
}

/* De styling voor de login knop. */
.norm_buttons {
    width: 100%;
    background-color: #005EB8;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 94, 184, 0.3);
}

/* De styling voor het hoveren over de login knop. */
.norm_buttons:hover {
    background-color: #004A99;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 94, 184, 0.4);
}