<!DOCTYPE html>
{% load static %}

<html class="" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base page{% endblock %}</title>

    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Terminal+Dosis:400,700,800,600,500,300,200" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesaw/3.1.2/tablesaw.jquery.js"></script>

    {% block headerJS %}{% endblock %}
    {% block headerCSS %}{% endblock %}

</head>
<body class="">

    <header class="header-background">
        
        <a href="http://www.hielanderwhiskyfestival.nl/" class="hwf_logo">
            <img src="{% static 'img/hwf_logo.png' %}">
        </a>

    </header>

    <main>
        {% block content %}
        <!-- Normal content goes here -->
        {% endblock %}
    </main>

    {% block extrascripts %}
    <!-- Extra scripts to be added -->
    {% endblock %}

    <footer class="footer-background">

    </footer>

</body>
</html>