<!DOCTYPE html>
{% load static %}

<html class="" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base page{% endblock %}</title>

    <link rel="icon" href="{% static 'img/temp_icon.png' %}" type="image/png">

    {% block headerJS %}{% endblock %}

</head>
<body class="">

    <main>
        {% block content %}
        <!-- Normal content goes here -->
        {% endblock %}
    </main>

    {% block extrascripts %}
    <!-- Extra scripts to be added -->
    {% endblock %}

</body>
</html>