<!DOCTYPE html>
{% load static %}

<html class="" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base page{% endblock %}</title>

    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    {% block headerJS %}{% endblock %}
    {% block headerCSS %}{% endblock %}

</head>
<body class="">

    <header class="header-background">
        
        <a href="http://www.hielanderwhiskyfestival.nl/" class="hwf_logo">
            <img src="{% static 'img/hwf_logo.png' %}">
        </a>

    </header>

    <main>
        {% block content %}
        <!-- Normal content goes here -->
        {% endblock %}
    </main>

    {% block extrascripts %}
    <!-- Extra scripts to be added -->
    {% endblock %}

    <footer class="footer-background">

    </footer>

</body>
</html>