{% extends "base.html" %}
{% load static %}

{% block title %}Botteling bevestiging{% endblock %}

{% block headerCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bevestiging.css' %}">
{% endblock %}


{% block content %}
<section class="bevestiging-info">
    
    <h1>Festival Botteling 2024</h1>
    <h2>Bedankt voor uw reservering!</h2>
    <p>
        U hebt een bevestigingsmail ontvangen op het e-mailadres dat u zojuist heeft ingevuld.
        Die mail bevat ook gelijk de factuur voor uw reservering. Het zou kunnen dat deze e-mail in de spam 
        terecht is gekomen, controleer daarom ook uw spambox als u geen e-mail heeft ontvangen.
    </p>
    <div>
        <h2>Besteloverzicht</h2>
        <p>
            Naam:               {{ reservering.voornaam }} {% if reservering.tussenvoegsel %}{{ reservering.tussenvoegsel }} {% endif %}{{ reservering.achternaam }}<br>
            E-mail:             {{ reservering.e_mailadres }}<br>
            Bestelling:         {{ fles.naam }}<br>
            Prijs per fles:     €{{ fles.prijs }}<br>
            Aantal flessen:     {{ reservering.aantal_flessen }}<br>
            Totaalprijs:        €{{ email_totaalprijs }}
        </p>
    </div>
    <button type="button"><a href="http://www.hielanderwhiskyfestival.nl/festivalbotteling2024">Ga terug</a></button>

</section>

{% endblock %}