{% extends "base.html" %}
{% load static %}

{% block title %}Admin dashboard{% endblock %}


{% block content %}

<section class="body">
    <section class="links">
        <section class="aantallen">
            <table class="text1" id="dataTable">
                <tbody>
                    {% for i in aantallen %}
                    <tr>
                        <td>
                            {{ i }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="grafieken">
            {% load static %}
            <button onclick="grafiek_botteling()">Botteling</button>
            <button onclick="grafiek_masterclass()">Masterclasses</button>
            <img src="{% static 'templates/grafieken/bottel_piechart.html' %}" id="grafiek_botteling" style="display: block;">
            <img src="{% static 'templates/grafieken/masterclass_barplot.html' %}" id="grafiek_masterclass" style="display: none;">
        </section>
    </section>
    <section class="rechts">
        <section class="tabel">
            <button onclick="tabel_botteling()">Botteling</button>
            <button onclick="tabel_masterclass()">Masterclasses</button>
            <table id="tabel_botteling" style="display: block;">
                <thead>
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>E-mailadres</th>
                    <th>Aantal</th>
                    <th>Totaal prijs</th>
                    <th>Reserve</th>
                    <th>Datum</th>
                    <th>Tijd</th>
                    <th>Opmerking</th>
                </tr>
                </thead>
                <tbody>
                {% for row in botteling %}
                <tr>
                    <td>{{ row.voornaam }}</td>
                    <td>{{ row.achternaam }}</td>
                    <td>{{ row.e_mailadres }}</td>
                    <td>{{ row.aantal_flessen }}</td>
                    <td>{{ row.totaalprijs }}</td>
                    <td>{{ row.reserve }}</td>
                    <td>{{ row.datum }}</td>
                    <td>{{ row.tijd }}</td>
                    <td>{{ row.opmerking }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table id="tabel_masterclass" style="display: none;">
                <thead>
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>E-mailadres</th>
                    <th>Sessie</th>
                    <th>Masterclass</th>
                    <th>Aantal</th>
                    <th>Totaal prijs</th>
                    <th>Reserve</th>
                    <th>Datum</th>
                    <th>Tijd</th>
                    <th>Opmerking</th>
                </tr>
                </thead>
                <tbody>
                {% for row in masterclass %}
                <tr>
                    <td>{{ row.voornaam }}</td>
                    <td>{{ row.achternaam }}</td>
                    <td>{{ row.e_mailadres }}</td>
                    <td>{{ row.sessie_nummer }}</td>
                    <td>{{ row.masterclass }}</td>
                    <td>{{ row.aantal_kaarten }}</td>
                    <td>{{ row.totaalprijs }}</td>
                    <td>{{ row.reserve }}</td>
                    <td>{{ row.datum }}</td>
                    <td>{{ row.tijd }}</td>
                    <td>{{ row.opmerking }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </section>
</section>

{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}