{% extends "base.html" %}
{% load static %}

{% block title %}Admin dashboard{% endblock %}


{% block content %}



<section class="body">
    <section class="links">
        <section class="aantallen">
            <table class="text1" id="dataTable">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Sessie</th>
                    <th>Gereserveerd</th>
                    <th>Totaal beschikbaar</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in aantallen %}
                        <tr>
                            <td>{{ i.0 }}</td>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.2 }}</td>
                            <td>{{ i.3 }}</td>
                         </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="grafieken">
            {% load static %}
            <button onclick="grafiek_botteling()">Botteling</button>
            <button onclick="grafiek_masterclass()">Masterclasses</button>
            <section id="grafiek_botteling" style="display: block;">
                {% include "plots/bottel_piechart.html" %}
            </section>
            <section id="grafiek_masterclass" style="display: none;">
                {% include "plots/masterclass_barchart.html" %}
            </section>
        </section>
    </section>
    <section class="rechts">
        <section class="tabel">
            <button onclick="tabel_botteling()">Botteling</button>
            <button onclick="tabel_masterclass()">Masterclasses</button>
            <table id="tabel_botteling" class="tablesaw" data-tablesaw-sortable style="display: block;">
                <thead>
                <tr>
                    <th data-tablesaw-sortable-col>Voornaam</th>
                    <th data-tablesaw-sortable-col>Achternaam</th>
                    <th>E-mailadres</th>
                    <th>Aantal</th>
                    <th>Totaal prijs</th>
                    <th>Reserve</th>
                    <th data-tablesaw-sortable-col>Datum</th>
                    <th>Tijd</th>
                    <th>Opmerking</th>
                </tr>
                </thead>
                <tbody>
                {% for row in botteling %}
                <tr>
                    <td>{{ row.voornaam }}</td>
                    <td>{{ row.achternaam }}</td>
                    <td>{{ row.e_mailadres }}</td>
                    <td>{{ row.aantal_flessen }}</td>
                    <td>{{ row.totaalprijs }}</td>
                    <td>{{ row.reserve }}</td>
                    <td>{{ row.datum|date:'d-m-Y' }}</td>
                    <td>{{ row.tijd|date:'H:i' }}</td>
                    <td>{{ row.opmerking }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table id="tabel_masterclass" class="tablesaw" data-tablesaw-sortable style="display: none;">
                <thead>
                <tr>
                    <th data-tablesaw-sortable-col>Voornaam</th>
                    <th data-tablesaw-sortable-col>Achternaam</th>
                    <th>E-mailadres</th>
                    <th>Sessie</th>
                    <th>Masterclass</th>
                    <th>Aantal</th>
                    <th>Totaal prijs</th>
                    <th>Reserve</th>
                    <th data-tablesaw-sortable-col>Datum</th>
                    <th>Tijd</th>
                    <th>Opmerking</th>
                </tr>
                </thead>
                <tbody>
                {% for row in masterclass %}
                <tr>
                    <td>{{ row.voornaam }}</td>
                    <td>{{ row.achternaam }}</td>
                    <td>{{ row.e_mailadres }}</td>
                    <td>{{ row.sessie_nummer }}</td>
                    <td>{{ row.masterclass }}</td>
                    <td>{{ row.aantal_kaarten }}</td>
                    <td>{{ row.totaalprijs }}</td>
                    <td>{{ row.reserve }}</td>
                    <td>{{ row.datum|date:'d-m-Y' }}</td>
                    <td>{{ row.tijd|date:'H:i' }}</td>
                    <td>{{ row.opmerking }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="data-aanpassen">
            <table class="input-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Naam</th>
                        <th>Tijd</th>
                        <th>Sessie</th>
                        <th>Datum</th>
                        <th>Aantal beschikbaar</th>
                        <th>Prijs</th>
                    </tr>
                </thead>
                <tbody>
                    <tbody>
                        {% for item in festivaldata %}
                            <tr>
                                <td></td>
                                <td><input placeholder="{{ item.naam }}"></td>
                                <td><input placeholder="{{ item.tijd|date:'H:i' }}"></td>
                                <td><input placeholder="{{ item.sessie }}"></td>
                                <td><input placeholder="{{ item.datum|date:'d-m-Y' }}"></td>
                                <td><input placeholder="{{ item.aantal_beschikbaar }}"></td>
                                <td><input placeholder="€{{ item.prijs }}"></td>
                            </tr>
                        {% endfor %}
                    </tbody>

        </section>

    </section>
</section>

{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/dashboard.js' %}"></script>

<script>
    $(document).ready(function(){
        $(document).trigger("enhance.tablesaw");
    });
</script>
{% endblock %}




