{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">

{% block title %}Admin login{% endblock %}

{% block content %}

<section class="scherm">
    <section class="login-form">
        <form method="post">
            {% csrf_token %}
            <label for="gebruikersnaam">Gebruikersnaam:</label>
            <input type="text" id="gebruikersnaam" name="gebruikersnaam" required>
            <label for="wachtwoord">Wachtwoord:</label>
            <input id="wachtwoord" name="wachtwoord" type="password">
            <button type="submit">Log in</button>
        </form>
    </section>
</section>

{% endblock %}