{% extends "base.html" %}
{% load static %}

{% block title %}Masterclass bevestiging{% endblock %}

{% block headerCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bevestiging.css' %}">
{% endblock %}


{% block content %}
<section class="bevestiging-info">
    
    <h1>Masterclass 2024</h1>
    <h2>Bedankt voor uw reservering!</h2>
    <p>
        U hebt een bevestigingsmail ontvangen op het e-mailadres dat u zojuist heeft ingevuld.
        Deze mail is ook gelijk de factuur voor uw reservering. Het zou kunnen dat deze e-mail in de spam 
        terecht is gekomen, controleer daarom ook uw spambox als u geen e-mail heeft ontvangen.
    </p>
    <button type="button"><a href="http://www.hielanderwhiskyfestival.nl/masterclass">Ga terug</a></button>

</section>

{% endblock %}