{% extends "base.html" %}
{% load static %}
{% block title %}Masterclass reservering{% endblock %}


{% block content %}

<section class="masterclass-info">
    <h1>Masterclasses 2024</h1>
    <h2>Reserveer hier je masterclass</h2>
</section>

<section class="masterclass_form">
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="sessie_nummer">Sessie:</label>
            <select name="sessie_nummer" id="sessie_nummer" onclick="sessie_selectie()">
                <option value="1">Sessie 1</option>
                <option value="2">Sessie 2</option>
                <option value="3">Sessie 3</option>
            </select><br><br>

            <input type="radio" name="masterclass" value="masterclass 1" id="masterclass1" required><label for="masterclass1">Masterclass 1</label><br>
            <input type="radio" name="masterclass" value="masterclass 2" id="masterclass2" required><label for="masterclass2">Masterclass 2</label><br><br>

            <label for="aantal_kaarten">Aantal kaarten:</label>
            <input type="number" max="30" min="1" value="1" id="aantal_kaarten" name="aantal_kaarten" onclick="prijs_aanpassen()"><br><br>
            <label for="totaalprijs">Totaalprijs:</label><br>
            <span id="totaalprijs">€15</span><br><br>

        </div>
        <div>

            <label for="voornaam">Voornaam:</label><br>
            <input type="text" placeholder="Voornaam" name="voornaam" id="voornaam" required><br><br>

            <label for="tussenvoegsel">Tussenvoegsel:</label><br>
            <input type="text" name="tussenvoegsel" id="tussenvoegsel"><br><br>

            <label for="achternaam">Achternaam:</label><br>
            <input type="text" placeholder="Achternaam" name="achternaam" id="achternaam" required><br><br>

            <label for="e_mailadres">Email:</label><br>
            <input type="text" placeholder="Email" name="e_mailadres" id="e_mailadres" required><br><br>

            <label for="opmerking">Opmerkingen:</label><br>
            <textarea name="opmerking" id="opmerking" maxlength="500" rows="5" cols="60"></textarea><br><br>
        </div>

        <button type="submit">Reserveer</button>
    </form>
</section>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/masterclass_reservering.js' %}"></script>
{% endblock %}