{% extends "base.html" %}
{% load static %}
{% block title %}Masterclass reservering{% endblock %}

{% block headerCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reserveringen.css' %}">
{% endblock %}


{% block content %}

<section class="masterclass-info">
    <h1>Masterclasses 2024</h1>
    <h2>Reserveer hier je masterclass</h2>
</section>

<section class="masterclass_form">
    <form method="post">
        {% csrf_token %}
        <section>
            <label for="sessie_nummer">Sessie:</label>
            <select name="sessie_nummer" id="sessie_nummer">
                <option disabled selected value> -- Selecteer een sessie -- </option>
                <option value="1">Sessie 1</option>
                <option value="2">Sessie 2</option>
                <option value="3">Sessie 3</option>
            </select><br><br>

            <div class="radio-container">
                <input type="radio" name="masterclass" value="masterclass 1" id="masterclass1" required>
                <label for="masterclass1"></label>
            </div>
            <div class="radio-container">
                <input type="radio" name="masterclass" value="masterclass 2" id="masterclass2" required>
                <label for="masterclass2"></label>
            </div>
            
            <label for="aantal_kaarten">Aantal kaarten:</label>
            <input type="number" max="30" min="1" value="1" id="aantal_kaarten" name="aantal_kaarten"><br><br>
            <label for="totaalprijs">Totaalprijs:</label><br>
            <span id="totaalprijs"></span><br><br>

        </section>
        <div>

            <label for="voornaam">Voornaam:</label>
            <input type="text" placeholder="Voornaam" name="voornaam" id="voornaam" required>

            <label for="tussenvoegsel">Tussenvoegsel:</label>
            <input type="text" placeholder="Tussenvoegsel" name="tussenvoegsel" id="tussenvoegsel">

            <label for="achternaam">Achternaam:</label>
            <input type="text" placeholder="Achternaam" name="achternaam" id="achternaam" required>
            <label for="e_mailadres">E-mailadres:</label>
            <input type="text" placeholder="E-mailadres" name="e_mailadres" id="e_mailadres" required>

        </div>

            <div>
                <label for="opmerking">Opmerkingen:</label><br>
                <textarea name="opmerking" id="opmerking" maxlength="500" rows="10" cols="30" style="resize:none;"></textarea><br><br>
            </div>

        <button type="submit" class="submitbutton">Reserveer</button><br><br>
    </form>

    <div id="hidden-data-prijzen" hidden>{{ masterclass_prijzen|json_script:"masterclass-prijzen" }}</div>
    <div id="hidden-data-kaarten" hidden>{{ kaarten_beschikbaar|json_script:"kaarten-beschikbaar" }}</div>
    <div id="hidden-data-namen" hidden>{{ masterclass_naam|json_script:"masterclass-naam" }}</div>
    <div id="hidden-data-tijden" hidden>{{ masterclass_tijd|json_script:"masterclass-tijd" }}</div>

</section>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/masterclass_reservering.js' %}"></script>
{% endblock %}