<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 20px;
            font-family: Cambria, sans-serif;
        }
        h2 {
            color: #4f6228;
        }
        img {
            height: 60px;
            width: auto;
        }
        .item {
            margin: 10px 0;
            padding: 20px;
            box-shadow: 0 0 10px #4f622842;
            background-color: #fff;
            border-radius: 5px;
        }
        .contact-div {
            display: flex;
            align-items: center;
        }
        .contact-div img {
            margin-right: 10px;
        }
        .overlap {
            width: 3em;
            white-space: nowrap;
            overflow: visible;
        }
    </style>
</head>
<body>
    <div style="width: 100%;">
        <div style="display: flex; flex-wrap: wrap; flex-direction: column;">
            <div id="contact-info" class="item" style="width: 100%; margin-bottom: 20px;">
                <h2>Hielander Whisky Festival</h2>
                <div class="contact-div">
                    <img src="cid:website.png" alt="Website">
                    <p><a href="http://www.hielanderwhiskyfestival.nl">www.hielanderwhiskyfestival.nl</a></p>
                </div>
                <div class="contact-div">
                    <img src="cid:email.png" alt="Email">
                    <p>whiskyticket@gmail.com</p>
                </div>
                <div class="contact-div">
                    <img src="cid:card.png" alt="Card">
                    <p>NL82 ABNA 0530 4639 54 <br>
                        tnv Hielander Whisky <br>
                        Alkmaar
                    </p>
                </div>
            </div>

            <div id="factuur" class="item" style="width: 100%; margin-bottom: 20px;">
                <h2>Factuur aan:</h2>
                <table style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td>Klant:</td>
                        <td>{{ volledige_naam }}</td>
                    </tr>
                    <tr>
                        <td>Factuurdatum:</td>
                        <td>{{ factuur_datum|date:"d-m-Y" }}</td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td>Uiterste betaaldatum:</td>
                        <td>{{ betaal_datum|date:"d-m-Y" }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="betalingsvoorwaarden" class="item" style="width: 100%; margin-bottom: 20px;">
        <h2>Betalingsvoorwaarden:</h2>
        <p>
            Betaling binnen 14 dagen na factuurdatum voldoen. Daarna vervalt de reservering.<br>
            Bestellingen kunnen worden opgehaald tijdens het Hielander Whisky Festival,<br>
            of dienen binnen uiterlijk drie maanden na het festival opgehaald te worden.<br>
            Daarna vervalt het recht op de bestelling.
        </p>
    </div>

    <div id="order-tabel" class="item" style="width: 80%; margin: 0 auto;">
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #4f6228; color: #fff; border-top-left-radius: 10px; width: 10%;">Aantal</th>
                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #77933c; color: #fff; width: 50%;">Omschrijving</th>
                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #4f6228; color: #fff; width: 20%;">Prijs per stuk</th>
                <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #77933c; color: #fff; border-top-right-radius: 10px; width: 20%;">Totaal</th>
            </tr>
            <tr>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4;">{{ aantal_flessen }}</td>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4;">HWF2024 Festival Botteling <br> {{ naam_fles }}</td>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4;">€102,50</td>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4;">€{{ totaalprijs }}</td>
            </tr>
            <tr>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #ffffff;"><br></td>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #ffffff;"><br></td>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #ffffff;"><br></td>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #ffffff;"><br></td>
            </tr>
            <tr>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4;"><div class="overlap">Vermeld "Masterclass HWF2024" en "uw naam" waaronder u gereserveerd heeft.</div></td>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4;"><br></td>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4;"><br></td>
                <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f4f4f4;"><br></td>
            </tr>
        </table>
    </div>
</body>
</html>
