<!DOCTYPE html>

<html>

<head>
    <style>
        .overlap {
            width: 3em;
            white-space: nowrap;
            overflow: visible;
        }
    </style>
</head>

<body>
    <div id="contact-info">
        <h2>Hielander Whisky Festival</h2>
        <p><a>www.hielanderwhiskyfestival.nl</a></p>
        <p>NL82 ABNA 0530 4639 54 <br>
            tnv Hielander Whisky <br>
            Alkmaar
        </p>

    </div>

    <div id="factuur">
        <h2>Factuur aan:</h2>
        <table>
            <tr>
                <td>Klant:</td>
                <td>[naam klant]</td>
            </tr>
            <tr>
                <td>Factuurdatum:</td>
                <td>[datum bestelling]</td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr>
                <td>Uiterste betaaldatum:</td>
                <td>7 februari 2024</td>
            </tr>
        </table>
    </div>

    <div id="betalingsvoorwaarden">
        <h2>Betalingsvoorwaarden:</h2>
        <p>
            Let op: uiterste betaaldatum is woensdag 7 februari 2024
        </p>
    </div>

    <div id="order-tabel">
        <table>

            <tr>
                <th>Aantal</th>
                <th>Omschrijving</th>
                <th>Prijs per stuk</th>
                <th>Totaal</th>
            </tr>
            <tr>
                <td>[aantal kaarten]</td>
                <td>[MC naam] - [sessie nummer] - [tijd]</td>
                <td>[prijs masterclass]</td>
                <td>[totaalprijs]</td>
            </tr>
            <tr>
                <td></td>
                <td><div class="overlap">Vermeld "Masterclass HWF2024" en "uw naam" waaronder u gereserveerd heeft.</div></td>
            </tr>
        

        </table>
    </div>

</body>

</html>